<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="new_comment">
  <%= render partial: "comments/form", locals: { comment: Comment.new } %>
</div>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
