.bg{
    background: url("/images/login_background.jpeg") no-repeat;
    width: 80vh;
    height: 80vh;
    background-size: 100%;
}
.form-container{
    position: absolute;
    top: 20vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
}

.logo{
    height: 5px;
}