<div class="error_explanation">
    <% if @user.errors.any? %>
        <%= pluralize(@user.errors.count, 'error') %>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>